.overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    transition: background-color .2s;
}

.overlay .wrapper {
    display: none;
}

.overlay .contents {
    background-color: #ffffff;
}

.overlay.open {
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
}

.overlay.open .contents {
    flex: 1;
    align-self: flex-end;
}

.overlay.open .wrapper {
    position: relative;
    display: block;
}

.overlay .close-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0);
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    border: 0;
    z-index: 10;
}