.wealth {
    margin-top: 10px;
    text-align: center;
}

.wealth-info {
    background-color: #fafafa;
    padding: 20px 0;
}

.wealth-info .current {
    font-size: 2rem;
}

.wealth-info .wealth-change {
    font-size: .8rem;
    margin-top: 5px;
}

.empty-portfolio {
    text-align: center;
    padding-top: 200px;
}

.portfolio-actions {
    display: none;
}