.radial-progress {
    transform: rotate(-90deg);
}

.radial-progress .tick {
    stroke: #dc3a79;
    opacity: .3;
}

.radial-progress .tick.quarterTick {
    stroke: #dc3a79;
    stroke-width: 2;
    opacity: 1;
}

.radial-progress .tickLabel {
    font-size: .6rem;
    fill: #aaa;
    opacity: .3;
}

.radial-progress .value {
    fill: #fff;
    font-size: .9rem;
}