.radial-progress {
    transform: rotate(-90deg);
}

.radial-progress .tick {
    stroke: #4b5156;
}

.radial-progress .tick.quarterTick {
    stroke: #2b2f32;
    stroke-width: 2;
    opacity: 1;
}

.radial-progress .tick-labels {
    font-size: .6rem;
    fill: #5b6268;
}

.radial-track {
    stroke: #33373b;
    stroke-width: 12;
}

.radial-progress-bar {
    stroke-width: 12;
}

.radial-progress-bar.up {
    stroke: #2ECC40;
}

.radial-progress-bar.down {
    stroke: #FF4136;
}

.needle .point,
.needle .center {
    fill: #2b2f32;
}

.radial-progress .value {
    fill: gold;
    text-shadow: 0 0 10px #000;
    font-size: 1rem;
    font-weight: 300;
}

.radial-progress .indicator {
    font-size: .6rem;
}

.radial-progress .indicator.up {
    fill: #2ECC40;
}

.radial-progress .indicator.down {
    fill: #FF4136;
}