.stock {
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    padding: 20px 0;
    color: #4d4d4d;
}

.stock:first-child {
    margin-top: 0;
}

.details {
    position: relative;
    min-height: 120px;
    height: 120px;
    max-height: 120px;
    max-width: 120px;
    z-index: 10;
}

.details .symbol {
    font-size: .8rem;
    color: purple;
}

.details .market {
    margin-top: 10px;
}

.market-price {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    color: purple;
}

.price-change {
    font-size: .8rem;
    margin-top: 5px;
}

.details .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.investment .cost {
    font-size: 1.5rem;
    color: #7f8c8d;
}

.bought-price,
.age {
    font-weight: 300;
}

.return .worth {
    font-size: 1.5rem;
}

.return .current-value {
    font-size: 1.5rem;
    color: #2c3e50;
}


.actions {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999999;
}

.actions li {
    cursor: pointer;
}