.stock {
    display: flex;
    padding: 10px 0;
}

.stock .investment {
    width: 60%;
}

.stock .market {
    width: 40%;
}

.stock .symbol {
    font-size: 1.5rem;
    font-weight: bold;
}

.market .price {
    font-size: 1.7rem;
}
.market .change {
    margin-top: 5px;
    font-weight: 300;
    font-size: 1rem;
}

.market .change em {
    font-size: .7rem;
    margin-left: 5px;
}

.market .change.positive {
    color: #0f0;
}

.change:before {
    margin-right: 5px;
    font-weight: 300;
}
.change.positive:before {
    content: '▲';
}

.market .change.negative {
    color: #f00;
}

.change.negative:before {
    content: '▼';
}