.stock-form {
    position: relative;
    padding: 10px;
}

.stock-form .close-form {
    position: absolute;
    top: 10px;
    right: 10px;
}

.stock-form .title {
    font-size: 1.3rem;
}

.stock-form .fields {
    margin-top: 10px;
}

.fields .field {
    margin-top: 10px;
}

.field label {
    display: block;
}

.field input {
    margin-top: 5px;
}

.stock-form .cta-buttons {
    text-align: right;
}