.stock-form {
    position: relative;
    padding: 20px;
}

.stock-form form {
    width: 100%;
}

.stock-form .fields {
    margin-top: 10px;
}

.stock-form .cta-buttons {
    text-align: right;
}

.fields.inline {
    display: flex;
}

.fields.inline .field {
    display: block;
    flex: 1;
}

.fields.inline .field input {
    width: 100%;
    border: none;
}