.stock-detail {
    display: flex;
    color: #4d4d4d;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    max-height: 140px;
    height: 140px;
    background-color: #3b4044;
}

.stock-detail .column {
    flex: 1;
    align-self: center;
    text-align: center;
}

.stock-detail .symbol {
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #cacaca;
}
.stock-detail .current-price {
    margin-top: 20px;
    font-size: 1.8rem;
    color: #D4AF37;
}

.stock-detail .price-change {
    margin-top: 20px;
}

