.wealth-meter {
}

.wealth-meter .wealth-current {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    fill: #f2ddf6;
}

.wealth-meter .wealth-change {
    font-size: 1rem;
}

.wealth-meter .wealth-change.up {
    fill: #27ae60;
}

.wealth-meter .wealth-change.down {
    fill: #e74c3c;
}