.wealth-meter svg {
}

.wealth-meter .wealth-label {
    fill: #58329d;
    font-size: .6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .4rem;
    opacity: .5;
}
.wealth-meter .wealth-current {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    fill: #281642;
    letter-spacing: .1rem;
}

.wealth-meter .wealth-change {
    font-size: .91rem;
    letter-spacing: .1rem;
}

.wealth-meter .wealth-change.up {
    fill: #27ae60;
}

.wealth-meter .wealth-change.down {
    fill: #e74c3c;
}