.app-root,
.app {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

.app {
    color: #333333;
    font-family: 'Roboto Condensed', sans-serif;
}

.volatile-value.up {
    color: #27ae60;
}

.volatile-value.down {
    color: #e74c3c;
}

.volatile-value:after {
    font-size: .8rem;
    margin-right: 3px;
}

.volatile-value.up:after {
    content: '▲';
    color: #27ae60;
}

.volatile-value.down:after {
    content: '▼';
    color: #e74c3c;
}

.app-title {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2pt;
}

.app-title a {
    text-decoration: none;
    color: purple;
}