.app {
    position: relative;
    color: #333333;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.volatile-value.up {
    color: #27ae60;
}

.volatile-value.down {
    color: #e74c3c;
}

.volatile-value:after {
    font-size: .8rem;
    margin-right: 3px;
}

.volatile-value.up:after {
    content: '▲';
    color: #27ae60;
}

.volatile-value.down:after {
    content: '▼';
    color: #e74c3c;
}

.app-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}
.main-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}

.main-menu a {
    text-decoration: none;
}